.btn {
  margin: 40px 0;
  padding: 20px 40px;
  font-family: 'OpenSans';
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  background-color: $btn-bg;
  color: $btn-text-color;
  border: 1px solid $color-brown;
  text-transform: uppercase;
  transition: all 0.4s;

  @media (min-width: 767px) {
    font-size: 34px;
    padding: 20px 75px;
  }

  &:hover {
    background-color: $color-brown;
    color: $color-white;
  }
}